@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Allura&family=B612:wght@400;700&family=Kaushan+Script&family=Lato:wght@400;900&family=Open+Sans:wght@500;700&family=Poppins:wght@100;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --primary: #fe2c55;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
