.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-space: 9px;
    --search-button-width: 52px;

    width: 100%;
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner{
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search,
.search-result {
    width: 361px;
}

.search {
    position: relative;
    width: 361px;
    height: var(--search-height);
    padding-left: 16px;
    display: flex;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    // Because the input focus makes search shrinking, we need to set border for the search
    border: 1.5px solid transparent;

    input {
        flex: 1;
        height: 100%;
        color: var(--black);
        font-size: 1.6rem;
        caret-color: var(--primary); // the pointer's color when focusing on the input
        background-color: transparent;
    }

    // input:not(:placeholder-shown) --> input has letters
    // input:not(:placeholder-shown) ~ .search-btn --> when input has letters, the search button will have color like this.

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-space);
        right: var(--search-button-width);
        width: 1px;
        height: calc(var(--search-height) - var(--search-top-space) * 2);
        background-color: rgba(22, 24, 35, 0.12);
    }

    // When focus input, the border of search appears
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}
.clear,
.loading {
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.search-btn {
    width: var(--search-button-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);

    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}

.more-btn {
    font-size: 2rem;
    margin-left: 28px;
    padding: 4px 8px; // make more space for hovering
    background-color: transparent;
}
